@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@import "tailwindcss/utilities";



@layer components{
    .primary-btn{
        @apply hover:scale-105 hover:bg-white cursor-pointer border-2 border-transparent hover:text-[#1E88E5] transition duration-300 hover:border-blue-500 bg-[#1E88E5] text-white font-bold px-4 py-2 rounded-xl;
    }

    .secondary-btn{

    @apply hover:scale-110 duration-300 bg-[#E5E5E5] border-2 border-transparent cursor-pointer text-black font-bold px-4 py-2 rounded-xl
}}
@layer utilities {
    .img-shadow {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    }
}
*{
     font-family: "Poppins", sans-serif;
            box-sizing: border-box;
}

